/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent horizontal scroll and enforce full width */
html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #0c013af7; /* Optional: match your site theme */
}
