<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mq/mq-about.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<section id="about">
    <div class="about-header">
        <h2 class="about-heading">
            <span class="heading-text">About Me</span>
            <span class="underline"></span>
        </h2>
    </div>
    
    <div class="about-container">
        <div class="profile-circle-1">
            <img src="https://i.ibb.co/27HBsMss/pro.jpg" alt="Profile Picture" class="profile-1-image">
        </div>
        
        <div class="about-content">
            <div class="about-text-container">
    <p class="about-text">
        🎓 I am pursuing a Master’s in Electrical Engineering at Augsburg University of Applied Sciences, building on my background in Electronics and Communication Engineering. My interests lie in embedded systems, battery technologies, and hardware-software integration.
    </p>

    <p class="about-text">
        🔧 Through projects and internships, I have gained hands-on experience in STM32 firmware development, CAN/CANopen communication, battery testing, BMS validation, hardware debugging, and embedded system development across automotive and robotics prototypes.
    </p>

    <p class="about-text">
        🚀 I enjoy solving practical engineering problems through testing, validation, and prototyping, and I am seeking opportunities to contribute to embedded systems, battery management systems, and hardware validation.
    </p>
</div>
            
            <div class="resume-button-container">
                <a href="https://drive.google.com/drive/folders/1Bbl5jSDlyUHNiJ00ePD5ckgVjFFRz0ty?usp=drive_link" class="resume-button" target="_blank">
                    View Resume
                    <span class="button-icon">→</span>
                </a>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/about.js') }}"></script>