<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mq/mq-about.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<section id="about">
    <h2 class="about-heading">
    <span class="heading-text">About Me</span>
    <span class="underline"></span>
</h2>
    <div class="about-container">
        <div class="about-box">
            <div class="profile-wrapper-1">
                <div class="profile-circle-1">
                    <img src="https://i.ibb.co/SnMjzVR/Untitled-design-4.png" alt="Profile Picture">
                </div>
                <div class="about-content">
                    <p>
                        I am a final-year Electronics and Communication Engineering student with a strong foundation in IoT, automation, and electrical testing. I recently completed my project trainee internship at Scrapify Ecotech Pvt. Ltd., where I worked on the Ecofloater water drone project. My experience includes internships at Streamtroops Innovation Lab as PD-Electronics and Vlog Innovation as an IoT intern, where I honed my expertise in electronics product development, testing, and smart technology applications. Additionally, I expanded my software skills through front-end development internships at CodeClause and OasisInfobyte, focusing on HTML, CSS, JavaScript, MongoDB, and Flask—pursuing web development as a side hobby. I also hold a Lean Six Sigma Foundation certification. Passionate about the intersection of electronics and technology, I thrive on bringing innovative ideas to life, improving efficiency, and contributing to impactful projects.
                    </p>
                </div>
            </div>
            <a href="https://drive.google.com/file/d/1zU7n3xjjci-h7KVHqWK2rjrbBBjbJQsk/view?usp=sharing" class="resume-button" target="_blank">Resume</a>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/about.js') }}"></script>
