<!-- templates/achievements.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/achievements.css') }}">

<section id="achievements">
   <h2 class="achievements-heading">
    <span class="heading-text">Achievements</span>
    <span class="underline"></span>
</h2>
    <div class="certifications-wrapper">
        <!-- RAISEathon -->
        <div class="certification-container">
            <h2 class="certification-title">RAISEathon</h2>
            <img src="https://i.ibb.co/fSyTj34/Whats-App-Image-2024-08-10-at-12-40-01-PM.jpg" alt="RAISEathon Image" class="certification-image">
            <h3 class="certification-subtitle">Winner</h3>
            <p class="certification-date">12/Mar/2024 - Coimbatore</p>
            <p class="certification-organization">AIC Raise - Atal Incubation Centre</p>
            <p class="certification-description">CHAMPIONS at the RAISEathon Hackathon organized by AIC RAISE</p>
        </div>

        <!-- Hacktrix2.0 -->
        <div class="certification-container">
            <h2 class="certification-title">Hacktrix2.0</h2>
            <img src="https://i.ibb.co/gjc6c2J/Whats-App-Image-2024-08-10-at-12-40-21-PM.jpg" alt="Hacktrix2.0 Image" class="certification-image">
            <h3 class="certification-subtitle">2nd Runner-up</h3>
            <p class="certification-date">07/Mar/2024 - Coimbatore</p>
            <p class="certification-organization">SKCT - Sri Krishna College of Technology</p>
            <p class="certification-description">2nd runner-up position, hosted by GDSC SKCT of Sri Krishna College of Technology</p>
        </div>

        <!-- TECFEST -->
        <div class="certification-container">
            <h2 class="certification-title">TECFEST'24</h2>
            <img src="https://i.ibb.co/FbwmXRFW/IMG-20250205-WA0068.jpg" alt="TECFEST'24 Image" class="certification-image">
            <h3 class="certification-subtitle">1st Place</h3>
            <p class="certification-date">26/Mar/2024 - Chennai</p>
            <p class="certification-organization">Tagore Engineering College</p>
            <p class="certification-description">Securing 1st prize in the paper presentation hosted by Tagore Engineering College.</p>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/achievements.js') }}"></script>
