<link rel="stylesheet" href="{{ url_for('static', filename='css/education.css') }}">

<section id="education">
    <div class="vertical-line">
        <div class="circle top-circle" style="background-image: url('https://i.ibb.co/1Rh3XwG/Untitled-design-7.png');"></div>
        <div class="circle bottom-circle" style="background-image: url('https://i.ibb.co/tDyRPTb/AKT.jpg');"></div>
    </div>


    <div class="mobile-wrapper">
    <div class="left-box">
        <div class="content">
            <h1>Velammal Engineering College</h1>
            <p class="specialization">Electronics and Communication Engineering</p>
            <p class="cgpa">Graduation - 2025    |    CGPA - 8.04</p>

            <div class="spacer"></div>

            <h2>Volunteer Roles:</h2>
            <h3>Youth Red Cross - (2022-Present)</h3>
            <p>Joint Secretary (22–23): Coordinated and led various humanitarian initiatives.</p>
            <p>Treasurer (23–24): Managed financial operations and budgeting for the organization.</p>

            <h2>Organization:</h2>
            <p>Student Member, IETE (Institution of Electronics and Telecommunication Engineers)</p>

            <h2>Sports:</h2>
            <p>College Basketball Player</p>
        </div>
    </div>

    <div class="right-box">
        <div class="content">
            <h1>AKT Matriculation Hr. Sec. School</h1>
            <p class="specialization">Computer Science Group in HSC</p>
            <p class="percentage">Percentage: 90.76%</p>

            <div class="spacer"></div>

            <h2>HSE Subjects:</h2>
            <p>Maths, Physics, Chemistry, Computer Science, English, and Tamil.</p>

            <h2>Activities:</h2>
            <p>State Moving Train Drawing Competition Winner, Drawing Class Lead.</p>
        </div>
    </div>
</div>
</section>

<script src="{{ url_for('static', filename='js/education.js') }}"></script>
