<!-- templates/experience.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/experience.css') }}">

<section id="experience">
    <div class="center-line"></div>

    <div class="circle circle1">
        <img src="https://i.ibb.co/NL34sXd/Screenshot-2024-08-10-090956.png" alt="First Circle Image">
    </div>
  
    <div class="circle circle5">
        <img src="https://i.ibb.co/Zfbw05P/Screenshot-2024-08-09-235935.png" alt="Fifth Circle Image">
    </div>
    

    <!-- Box 1 -->
    <div class="experience-box box1">
        <div class="box-content">
            <div class="company-name">Scrapify Ecotech Pvt. Ltd.</div>
            <div class="role-duration">Role: Project Trainee | Internship</div>
            <div class="dates">19/Feb/2024 - 19/Aug/2024</div>
            <div class="description">
                <div class="point">• Led the Motor Department for the Ecofloater water drone, enhancing propulsion efficiency and seamlessly integrating automation and IoT from concept to execution.</div>
                <div class="point">• Designed and optimized the UV Bot for water treatment, improving system functionality, reliability, and overall efficiency.</div>
                <div class="point">• Created intuitive dashboard controls and UI designs, enhancing user experience and system performance. The projects were incubated at iTNT Hub (Anna University) and received mentorship from IITM, further strengthening technical and leadership expertise.</div>
            </div>
            <div class="tech-stack">Tech Stack:</div>
            <div class="tech-list">
                <span>IOT</span><span>Fabrication</span><span>Frontend</span><span>Backend (Springboot)</span>
                <span>Excel</span><span>PowerPoint</span><span>Automation</span>
                <span>Motor Configuration</span><span>Transmission</span>
            </div>
        </div>
        <div class="button-container">
            <button class="website-btn" onclick="window.open('https://drive.google.com/file/d/12DSYbWMOinLd18uDFcQD36e5iB6k_LmO/view?usp=sharing')">Certificate</button>
            <button class="website-btn" onclick="window.open('https://scrapifyecotech.in/', '_blank')">Website</button>
        </div>
    </div>

        <!-- Box 5 -->
    <div class="experience-box box5">
        <div class="box-content">
            <div class="company-name">STEAM Troops Innovation Labs Pvt. Ltd.</div>
            <div class="role-duration">Role: Product Development Electronics | Internship</div>
            <div class="dates">14/June/2023 - 15/Sep/2023</div>
            <div class="description">
                <div class="point">• Led cross-functional collaboration in holistic electronics product development, driving the creation of a STEM-based electronics kit and educational concepts.</div>
                <div class="point">• Contributed to ideation, design, and implementation of innovative learning solutions for children, ensuring a balance of educational value, safety, and engaging design.</div>
                <div class="point">• Collaborated with Hyundai Motors employees' children, teaching STEM-based learning through the electronics kit we developed, making technology education more interactive and accessible.</div>
            </div>
            <div class="tech-stack">Tech Stack:</div>
            <div class="tech-list">
                <span>Prototyping</span><span>Product Design Support</span><span>Communication</span>
                <span>Problem Solving</span><span>Product Development</span><span>Electronics</span>
                <span>Vendor Management</span>
            </div>
        </div>
        <div class="button-container">
            <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/1MMIniMo23QrOrVQvZCdSAC9LxbeDS8Il/view?usp=sharing', '_blank')">Certificate</button>
            <button class="website-btn" onclick="window.open('https://www.steamtroops.com/', '_blank')">Website</button>
        </div>
    </div>

    
</section>

<script src="{{ url_for('static', filename='js/experience.js') }}"></script>
