<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<section id="home">
    <div class="content-left">
        <div class="intro-text">
            <img src="https://i.ibb.co/x77g4TK/sign.png" alt="Sign Icon" class="sign-icon">
            <p>Hey there, my name is</p>
            <div id="name">Vijay A</div>
            <div class="typing-svg-container">
                <a>
                    <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&pause=2000&color=CF15F7&random=false&width=435&lines=IoT+%7C+Automation+%7C+Testing" alt="Typing SVG">
                </a>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/vijay-ardhan-115780258/" target="_blank">
                    <img src="https://i.ibb.co/5XZbK5M/linkedin-3.png" alt="LinkedIn Icon">
                </a>
                <a href="mailto:vijayardhan32@gmail.com">
                    <img src="https://i.ibb.co/C56W2r3/gmail-2.png" alt="Gmail Icon">
                </a>
                <a href="https://github.com/Vijayardhan" target="_blank">
                    <img src="https://i.ibb.co/kyLRmQX/github.png" alt="GitHub Icon">
                </a>
            </div>
            <a href="#contact" class="contact-button">Contact Me</a>
        </div>
        <div class="profile-container">
            <a href="https://i.ibb.co/WFkrKc4/professional-removebg-preview.png" target="_blank">
                <div class="profile-circle">
                    <img src="https://i.ibb.co/WFkrKc4/professional-removebg-preview.png" alt="Profile Picture">
                </div>
            </a>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
