<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mq/mq-home.css') }}">

<section id="home">
    <div class="content-wrapper">
        <div class="content-left">
            <div class="intro-text">
                <img src="https://i.ibb.co/x77g4TK/sign.png" alt="Sign Icon" class="sign-icon">
                <p class="greeting">Hey there, I'm</p>
                <h1 id="name">Vijay A</h1>
                <div class="typing-container">
                    <span class="typing-text">IoT | Automation | Testing</span>
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/vijay-ardhan-115780258/" target="_blank" aria-label="LinkedIn">
                        <img src="https://i.ibb.co/5XZbK5M/linkedin-3.png" alt="LinkedIn" class="social-icon">
                    </a>
                    <a href="mailto:vijayardhan32@gmail.com" aria-label="Email">
                        <img src="https://i.ibb.co/C56W2r3/gmail-2.png" alt="Email" class="social-icon">
                    </a>
                    <a href="https://github.com/Vijayardhan" target="_blank" aria-label="GitHub">
                        <img src="https://i.ibb.co/kyLRmQX/github.png" alt="GitHub" class="social-icon">
                    </a>
                </div>
                <a href="#contact" class="contact-button">Contact Me</a>
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-circle">
                <img src="https://i.ibb.co/WFkrKc4/professional-removebg-preview.png" alt="Vijay A Profile Picture" class="profile-image">
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
