<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav>
    <div class="hamburger" onclick="toggleMenu(this)">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul id="nav-menu">
        <li><a href="#home">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#education">education</a></li>
        <li><a href="#skills">skills</a></li>
        <li><a href="#experience">experience</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#achievements">achievements</a></li>
        <li><a href="#publications">publications</a></li>
        <li><a href="#volunteering">volunteering</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>
</nav>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
