<!-- templates/skills.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mq/mq-skills.css') }}">

<section id="skills">
    <h2 class="skills-heading">
    <span class="heading-text">My Skills</span>
    <span class="underline"></span>
</h2>
    <div class="skills-container">
        <div class="skill-box">
            <img src="https://i.ibb.co/6HJbsGV/iot.png" alt="IoT">
            <p>IoT</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/TYpt4LC/microchip.png" alt="Microcontrollers">
            <p>Micro controllers</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/4TGCHxm/system-integration.png" alt="Automation">
            <p>Automation</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/HDHTRkFL/electricity.png" alt="DBMS">
            <p>Electrical testing</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/8Drx1Lb/python.png" alt="Python">
            <p>Python</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/pvLmD8N/letter-c.png" alt="C">
            <p>C</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/rcgM2SK/html-5.png" alt="HTML">
            <p>HTML</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/V2mqt9f/css1.png" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/6gycwxx/javascript.png" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/F4ZhTkS/physics.png" alt="React">
            <p>React</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/cNHwJXB/pngegg.png" alt="Flask">
            <p>Flask</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/54KY7yj/fire1-removebg-preview.png" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/MDGJHrB/can.png" alt="Canva">
            <p>Canva</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/zJw3qt4/office365.png" alt="Excel">
            <p>Excel</p>
        </div>
        <div class="skill-box">
            <img src="https://i.ibb.co/hd3SpC6/office.png" alt="PowerPoint">
            <p>PowerPoint</p>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/skills.js') }}"></script>
