<!-- templates/volunteer.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/volunteering.css') }}">

<section id="volunteer">
    <div class="volunteer-container">
        <div class="volunteer-item">
            <h2 class="volunteer-title">Youth Red Cross</h2>
            <img src="https://i.ibb.co/McFm5V3/tres.jpg" alt="Youth Red Cross Logo" class="volunteer-image">
            <div class="volunteer-details">
                <h3 class="volunteer-role">Treasurer</h3>
                <p class="volunteer-organization">YRC - Velammal Engineering College</p>
                <p class="volunteer-duration">10/Oct/2023 - 19/Sep/2024</p>
                <p class="volunteer-description">
                    My tenure as Treasurer at Youth Red Cross, managing finances for humanitarian initiatives under the Indian Red Cross Society.
                </p>
            </div>
        </div>

        <div class="volunteer-item">
            <h2 class="volunteer-title">Youth Red Cross</h2>
            <img src="https://i.ibb.co/b6J5wLZ/Screenshot-2024-08-10-153736.png" alt="Youth Red Cross Logo" class="volunteer-image">
            <div class="volunteer-details">
                <h3 class="volunteer-role">Joint Secretary</h3>
                <p class="volunteer-organization">YRC - Velammal Engineering College</p>
                <p class="volunteer-duration">10/Oct/2022 - 10/Oct/2023</p>
                <p class="volunteer-description">
                    Served as Joint Secretary at Youth Red Cross, coordinating event planning and logistics, under the Indian Red Cross Society.
                </p>
            </div>
        </div>

        <div class="volunteer-item">
            <h2 class="volunteer-title">Police Department</h2>
            <img src="https://i.ibb.co/FDSh5JP/FOP.jpg" alt="Friends Of Police Logo" class="volunteer-image">
            <div class="volunteer-details">
                <h3 class="volunteer-role">Friends Of Police - FOP</h3>
                <p class="volunteer-organization">Thiyagadurugam Police Station</p>
                <p class="volunteer-duration">10/Oct/2023 - Present</p>
                <p class="volunteer-description">
                    Volunteered as FOP, assisting police officials during the COVID lockdown in public safety enforcement and support activities.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/volunteering.js') }}"></script>
